#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Kontor
Comment=Start Kontor (Trading-Journal) server and open in Firefox
Exec=bash -c '$HOME/trading-db/launch.sh'
Icon=$HOME/trading-db/assets/icon_red.png
Path=$HOME/trading-db
Terminal=false
Categories=Finance;
