{{define "title"}}Entry hinzufügen{{end}}

{{define "content"}}
<div
        class="container"
        hx-ext="alpine-interop"
            x-data='{
                    tags: {{ toJSON .tags }},
                    symbols: {{ toJSON .symbols }},
                    replaceTags(data, elt) { this.tags = data; },
                    replaceSymbols(data, elt) { this.symbols = data; },
            }'
>
    <form
            method="POST"
            action="/insert"
            enctype="multipart/form-data"
    >
        <label for="symbol">Asset</label>
        <select id="symbol" name="symbol" class="form-select" required>
            <option value="">---</option>
            <template x-for="symbol in symbols">
                <option x-text="symbol"></option>
            </template>
        </select>

        <div class="row">
            <div class="col-6">
                <div>
                    <label class="mt-2" for="traded">Trade</label>
                    <select id="traded" name="traded" class="form-select" required>
                        <option value="" {{ if not .trade }}selected{{ end }}>-- Bitte ausfüllen --</option>
                        <option value="skip"  {{ if and .trade (eq .trade.Traded "skip") }}selected{{ end }}>Skip</option>
                        <option value="long"  {{ if and .trade (eq .trade.Traded "long") }}selected{{ end }}>Long</option>
                        <option value="short" {{ if and .trade (eq .trade.Traded "short") }}selected{{ end }}>Short</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="ms-4">
                    <label class="mt-2" for="risk">Risiko %</label>
                    <input name="risk" id="risk" class="form-control" type="number" step="0.25" max="10" min="0" {{ if .trade }}value="{{.trade.Risk}}"{{ end }} required>
                </div>
            </div>
        </div>

        <label class="mt-2" for="result">Ergebnis</label>
        <select id="result" name="result" class="form-select" required>
            <option value="" selected>-- Bitte ausfüllen --</option>
            <option value="not finished">Not Finished</option>
            <option value="skip">Skip</option>
            <option value="loss">Loss</option>
            <option value="break-even">Break Even</option>
            <option value="tp1">TP1</option>
            <option value="tp2">TP2</option>
            <option value="tp3">TP3</option>
        </select>

        <label class="mt-2" for="tp1">TP1</label>
        <div class="d-flex gap-2 align-items-center">
            <select id="tp1" name="tp1" class="form-select">
                <option>---</option>
                <template x-for="tag in tags">
                    <option x-text="tag"></option>
                </template>
            </select>
            <div>
                <input name="tp1Ratio" class="form-control" type="number" step="0.25" min="0" placeholder="Reward Ratio">
            </div>
        </div>

        <label class="mt-2" for="tp2">TP2</label>
        <div class="d-flex gap-2 align-items-center">
            <select id="tp2" name="tp2" class="form-select">
                <option>---</option>
                <template x-for="tag in tags">
                    <option x-text="tag"></option>
                </template>
            </select>
            <div>
                <input name="tp2Ratio" class="form-control" type="number" step="0.25" min="0" placeholder="Reward Ratio">
            </div>
        </div>

        <label class="mt-2" for="tp3">TP3</label>
        <div class="d-flex gap-2 align-items-center">
            <select id="tp3" name="tp3" class="form-select">
                <option>---</option>
                <template x-for="tag in tags">
                    <option x-text="tag"></option>
                </template>
            </select>
            <div>
                <input name="tp3Ratio" class="form-control" type="number" step="0.25" min="0" placeholder="Reward Ratio">
            </div>
        </div>

        <div class="my-3">
            <label for="files" class="form-label">Screenshots</label>
            <input class="form-control form-control-lg" name="files" id="files" type="file" multiple>
        </div>

        <div class="my-3">
            <label for="notes" class="form-label">Notiz</label>
            <textarea class="form-control" name="notes" id="notes"></textarea>
        </div>

        <div class="d-flex flex-wrap gap-2" id="tags">
            <template x-for="tag in tags" :key="tag">
                <div>
                    <input type="checkbox" class="btn-check" :id="`tags-${tag}`" name="tags[]" :value="`${tag}`" autocomplete="off">
                    <label class="btn btn-outline-light btn-sm" :for="`tags-${tag}`" x-text="tag"></label>
                </div>
            </template>
        </div>

        <button class="btn btn-primary mt-3" type="submit">Hinzufügen</button>
    </form>
    <div class="row justify-content-between">
        <div class="col-12 col-md-2">
            <form
                    class="me-4"
                    method="post"
                    action="/add-tag"
                    hx-post="/add-tag"
                    hx-handle-json="replaceTags"
                    hx-on::after-request="if(event.detail.successful) this.reset()">

                <input required placeholder="Tag Title" class="form-control" type="text" name="Title" />

                <button class="btn btn-light mt-3" type="submit">Add Tag</button>
            </form>
        </div>
        <div class="col-12 col-md-10">
            <form
                    method="post"
                    action="/remove-tag"
                    hx-post="/remove-tag"
                    hx-handle-json="replaceTags"
            >

                <div class="d-flex flex-wrap gap-2" id="rm-tags">
                    <template x-for="tag in tags" :key="tag">
                        <div>
                            <input type="radio" class="btn-check" :id="`rmtags-${tag}`" name="Title" :value="`${tag}`" autocomplete="off">
                            <label class="btn btn-outline-light btn-sm" :for="`rmtags-${tag}`" x-text="tag"></label>
                        </div>
                    </template>
                </div>
                <button class="btn btn-danger mt-3" type="submit">Remove Tag</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-12 col-md-2">
            <form
                    class="me-4"
                    method="post"
                    action="/add-symbol"
                    hx-post="/add-symbol"
                    hx-handle-json="replaceSymbols"
                    hx-on::after-request="if(event.detail.successful) this.reset()">

                <input required placeholder="Asset Symbol" class="form-control" type="text" name="Symbol" />

                <button class="btn btn-light mt-3" type="submit">Add Asset</button>
            </form>
        </div>
        <div class="col-12 col-md-10">
            <form
                    method="post"
                    action="/remove-symbol"
                    hx-post="/remove-symbol"
                    hx-handle-json="replaceSymbols"
            >

                <div class="d-flex flex-wrap gap-2" id="rm-symbols">
                    <template x-for="tag in symbols" :key="tag">
                        <div>
                            <input type="radio" class="btn-check" :id="`rmtags-${tag}`" name="Symbol" :value="`${tag}`" autocomplete="off">
                            <label class="btn btn-outline-light btn-sm" :for="`rmtags-${tag}`" x-text="tag"></label>
                        </div>
                    </template>
                </div>
                <button class="btn btn-danger mt-3" type="submit">Remove Asset</button>
            </form>
        </div>
    </div>
</div>
{{end}}